__pychache__/
env
.env


Scripts/FeatureExtraction/__pycache__/
CNN-kh-n-joyce/cc.en.300.bin
*.pyc
CNN-kh-n-joyce/model1weights.01-0.74.hdf5
CNN-kh-n-joyce/model1weights.01-0.74.hdf5
CNN-kh-n-joyce/model3weights.05-0.44.hdf5
